body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  display: flex;
  min-height: 94.2vh;
  flex-direction: column;
}

.footer {
  /* flex-grow: 1; */
  color: white;
  background-color: #3f51b5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
